<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.vi_port.vhome">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="ua.com.vi_port.vhome.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <permission
        android:name="ua.com.vi_port.vhome.permission.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name="ua.com.vi_port.vhome.LoginActivity"
            android:label="vhome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.vi_port.vhome.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="ua.com.vi_port.vhome.PinchActivity"
            android:label="@string/title_activity_pinch" />
        <activity
            android:name="ua.com.vi_port.vhome.VarchPlayerActivity"
            android:label="@string/title_activity_varch_player" />
        <activity
            android:name="ua.com.vi_port.vhome.MotionDetectActivity"
            android:label="@string/title_activity_motion_detect" />
        <activity
            android:name="ua.com.vi_port.vhome.VcamSetupActivity"
            android:label="@string/title_activity_vcam_setup"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="ua.com.vi_port.vhome.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="ua.com.vi_port.vhome.ShareVcamUserActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="ua.com.vi_port.vhome.ShareScheduleActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/Theme.AppCompat"/>
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- action android:name="com.google.android.c2dm.intent.REGISTRATION" / -->

                <category android:name="ua.com.vi_port.vhome" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <receiver
            android:name="ua.com.vi_port.vhome.ConnectionChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="ua.com.vi_port.vhome.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="ua.com.vi_port.vhome.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="ua.com.vi_port.vhome.gcm.RegistrationIntentService"
            android:exported="false" />

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>